<html>

<head>
    <title>Api Helper</title>
</head>

<body>
    <h3>Api wordsapi/1.0 Helper </h3>
    <a href="/wordsapi/v1.0/words/9">Get all words of length 9</a><br/>
    <a href="/wordsapi/v1.0/words/9/count">Get count of words of length 9</a><br/>
    <a href="/wordsapi/v1.0/words/anagram/abet/">Get anagrams of the words 'abet'</a><br/>
    <a href="/wordsapi/v1.0/words/anagram/quickstep/4/c/">Get words in the word 'quickstep' of at least 4 characters containing the letter 'c'</a><br/>
    <a href="/wordsapi/v1.0/words/ladder/tears/smile/">Get ladder for 'tears' and 'smile'</a><br/>
    <a href="/wordsapi/v1.0/words/getscrabblescore/quizzify">Get scrabble scrore for 'quizzify'</a><br/>
</body>

</html>