{%extends 'base.html'%} {%block title%}Main Page{%endblock%} {%block body%} TARGET GAME
<div ng-controller="wordladdercontroller">
    <form method="POST" name="login" action="/anagram" class="form-vertical">
        <div class="form-group ">
            <label for="txWord">Word</label>
            <input id="txWord" ng-model="myword" name="txWord" class="form-control col-xs-3" required />
        </div>
        <div class="form-group">
            <a class="btn btn-default" href="{{url_for('index')}}">Cancel</a>
            <input type="button" value="Submit" class="btn btn-success" ng-click="getanagrams(myword)" />
        </div>
    </form>
    <table>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Words for {%raw%}{{myword}}{%endraw%}</th>
                </tr>
            </thead>
            <tr ng-show="!data.words.length && data.error">
                <td colspan="1">Nothing found?</td>
            </tr>
            <tr ng-show="!data.error && data.words.length>0">
                <td>Lognest word length: {% raw %}{{data.stats.longestwordlength}}{% endraw %}</td>
            </tr>
            <tr ng-show="!data.error && data.words.length>0">
                <td>Lognest word(s): {% raw %}{{data.stats.longestwords.join()}}{% endraw %}</td>
            </tr>
            <tr ng-show="!data.error && data.words.length>0">
                <td>Number of words found : {% raw %}{{data.stats.wordcount}}{% endraw %}</td>
            </tr>
            <tr ng-repeat="word in data.words">
                <td>{% raw %}{{word}}{% endraw %}</td>
            </tr>
        </table>

</div>
{%endblock%} {%block scripts%}
<script type="text/javascript" src="/static/js/ag-geotrack.js"></script> {%endblock%}