{%extends 'base.html'%} {%block title%}Main Page{%endblock%} {%block body%} WORDLADDER GAME
<div ng-controller="wordladdercontroller">
    <form method="POST" name="login" action="/anagram" class="form-vertical">
        <div class="form-group ">
            <label for="txStart">Start Word</label>
            <input id="txStart" ng-model="start" name="txStart" class="form-control col-xs-3" required />
        </div>
        <div class="form-group ">
            <label for="txWord">End Word</label>
            <input id="txEnd" ng-model="end" name="txEnd" class="form-control col-xs-3" required />
        </div>
        <div class="form-group">
            <a class="btn btn-default" href="{{url_for('index')}}">Cancel</a>
            <input type="button" value="Submit" class="btn btn-success" ng-click="getwordladder(start,end)" />
        </div>
    </form>
    <table>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Wordladder for {%raw%}'{{start}}' to '{{end}}'{%endraw%}</th>
                </tr>
            </thead>
            <tr ng-show="!data.words.length && data.error">
                <td colspan="1">No ladder found! {%raw%}({{data.error}}){%endraw%}</td>
            </tr>
            <tr ng-repeat="word in data.words">
                <td>{% raw %}{{word}}{% endraw %}</td>
            </tr>
        </table>

</div>
{%endblock%} {%block scripts%}
<script type="text/javascript" src="/static/js/ag-geotrack.js"></script> {%endblock%}